<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="db/mybatis/mybatis.properties"/>
    <typeAliases>
        <typeAlias alias = "User" type = "com.epam.university.commission.domain.User"/>
        <typeAlias alias = "Faculty" type = "com.epam.university.commission.domain.Faculty"/>
        <typeAlias alias = "StatementByEntrant" type = "com.epam.university.commission.domain.StatementByEntrant"/>
        <typeAlias alias = "EnrolledPerson" type = "com.epam.university.commission.domain.EnrolledPerson"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler handler="com.epam.university.commission.handler.RoleTypeHandler"
                     javaType="com.epam.university.commission.domain.Role"/>
    </typeHandlers>

    <environments default = "development">
        <environment id = "development">
            <transactionManager type = "JDBC"/>

            <dataSource type = "POOLED">
                <property name = "driver" value = "${databaseDriverClassName}"/>
                <property name = "url" value = "${databaseUrlMain}"/>
                <property name = "username" value = "${databaseUsernameMain}"/>
                <property name = "password" value = "${databasePasswordMain}"/>
            </dataSource>
        </environment>
    </environments>

    <mappers>
        <mapper resource = "db/mybatis/UserMapper.xml"/>
        <mapper resource = "db/mybatis/FacultyMapper.xml"/>
        <mapper resource = "db/mybatis/StatementByEntrantMapper.xml"/>
        <mapper resource = "db/mybatis/EnrolledPersonMapper.xml"/>
    </mappers>

</configuration>
